*.pyc
*.npz
*.lock
*.bak
*.dat
cache
i386/**
x86_64/**
arm64/**
*.p
*.log
.DS_Store

# specific directories and files:
cnmodel_venv/
# cnmodel_venv/** # virutal environment
cnmodel/mechanisms/*.c
cnmodel/mechanisms/*.o
cnmodel/an_model/model/*.mexmaci64
cnmodel/an_model/cache/**  # everything in the AN cache
cochleae
dask-worker-space/
# Jupyter Notebook
.ipynb_checkpoints
# Sphinx documentation
docs/_build/
doc/build
doc/html

examples/*.pdf
examples/*.p

build/
dist/
cnmodel.egg*
.cache*
.pytest*
Figure6*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/




