*.pyc
i386
x86_64
*.mexmaci64
cnmodel/an_model/cache/*  # ignore all of the cached AN files
*.npz

cnnodel/arm64/*
cnmodel/x86_64/*
cnnmodel/i386/*
cnnmodel/mexmaci64/*
cnmodel/mechanisms/arm64/*
cnmodel/mechanisms/x86_64/*
cnmodel/mechanisms/i386/*
cnmodel_pbm.egg-info/*
cnmodel/cnmodel_pbm.egg-info/*
cnmodel.egg-info/*
cnmodel/cnmodel.egg-info/*






