*.pyc
*.npz
*.lock
*.bak
*.dat
cache
i386
*.p
*.log

# specific directories and files:
cnmodel_venv/*  # virutal environment
cnmodel/cache/*  # everything in the AN cache
cnmodel/mechanisms/*.c
cnmodel/mechanisms/*.o
cnmodel/an_model/model/*.mexmaci64
cochleae
dask-worker-space/
examples/*.pdf
examples/*.p
x86_64
cnmodel/an_model
doc/build
doc/html
build/
dist/
cnmodel.egg*
.cache*
.pytest*
Figure6*




